@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Lato:wght@100;300;400;700&family=Open+Sans&family=Oswald:wght@700&family=Poppins:wght@400;900&family=Quattrocento+Sans&family=Raleway:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 98.8vw;
  background: #965a1b;
  align-items: center;
}

.infos {
  display: flex;
  width: 65vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw;
  width: 65vw;
  height: 15vh;
  background-color: #ffffff;
  margin: 1.5vw;
  border: none;
  border-radius: 2px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section p {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.entrada {
  background-color: #5f3305;
  color: #fff;
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  padding-left: 19vw;
  padding-right: 19vw;
  width: 60.8vw;
  gap: 1.5rem;
  height: 100%;
  min-height: 60vh;
  background: #e5cf94;
}

.add {
  width: 201px;
  height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5f3305;
}

.logo {
  margin-top: 1vh;
  scale: 0.55;
}

.pedidos .nome {
  color: #5f3305;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pedidos .desc {
  color: #5f3305;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pedidos .valor {
  color: #5f3305;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pedidos .titulo {
  color: #5f3305;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pedidos .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  align-self: stretch;
  height: 4.8125rem;
  flex-shrink: 0;
  background-color: #ffffffcc;
  border-radius: 0.5rem;
}

@media(max-width: 600px){
  .infos{
    flex-direction: column;
  }

  .add{
    margin-top: 290px;
  }
}