@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Lato:wght@100;300;400;700&family=Open+Sans&family=Oswald:wght@700&family=Poppins:wght@400;900&family=Quattrocento+Sans&family=Raleway:wght@900&display=swap');

*{
  padding: 0;
  margin: 0;
}


.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 100vw;
  background: #965A1B;
  align-items: center;
}

.infos{
  display: flex;
  width: 65vw;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw;
  width: 65vw;
  height: 15vh;
  background-color: #FFFFFF;
  margin: 1.5vw;
  border: none;
  border-radius: 2px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



section p{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;

}

.entrada{
  background-color: #5f3305;
  color: #FFF;
}

.body{
  padding-top: 15vh;
  padding-left: 19vw;
  padding-right: 19vw;
  display: flex;
  width: 62vw;
  height: 55vh;
  flex-direction: row;
  background: #E5CF94;

}

.add{
  width: 201px;
  height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5F3305;
}

.logo{
  margin-top: 1vh;
  scale: 0.55;
}