.form-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 605px;
  height: 347px;
  flex-shrink: 0;
  background-color: white;
  z-index: 2;
  border-radius: 10px;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #e5cf9480;
  filter: blur(5px);
  z-index: 1;
}

.form-container h2 {
  color: #5f3305;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-container input {
  width: 34.0625rem;
  height: 3.125rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #f5f5f5;
  padding-left: 1rem;
  color: #7d7d7d;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.submit-button {
  width: 260px;
  height: 60px;
  flex-shrink: 0;
  background-color: #5f3305;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 0.5rem;
  border: none;
}

.submit-button:hover {
  background-color: #824607;
}

.cancel-button {
  color: #db1e1e;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 260px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border-color: #db1e1e;
  background-color: #fff;
}
